    
    /*
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif; */

p{font-family: 'Roboto', sans-serif;}

h1{font-family: 'Montserrat', sans-serif;}

.artText{font-family: 'Noto Sans', sans-serif;}

.tableTd{font-family: 'Poppins', sans-serif;}